[package]
name = "actix-bench-server"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "actix-bench-server"
path = "src/main.rs"

[dependencies]
actix-web = "4"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
tokio = { version = "1", features = ["full"] }
